<footer>
  <div class="f-info">
    <div class="f-info-socials">
      Contact us on: &nbsp;
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
     
    </div>

    <div class="f-info-head">
      <h4>Pahuna Pvt Ltd</h4>
    </div>

    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>