<% layout('../layouts/boilerplate') %>
     <form action="http://localhost:8080/listings" method="post">
        <p>Title:</p>
        <input type="text" name="title" >
        <p>Discription</p>
        <input type="text" name="description" >
        <p>Image</p>
        <input type="text" name="image" >
        <p>Price</p>
        <input type="number" name="price" >
        <p>Location:</p>
        <input type="text" name="location" >
        <p>Country:</p>
        <input type="text" name="country" ><br><br>
    
        <button>Add</button>

     </form>
